.container {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  height: 100vh;
}

#border, #border2 {
  /* background: #15012d; */
  background-size: cover;
  height: 100vh;
}

#middle {
  /* background: #15012d; */
  color: #fff;
  padding: 30px;
}

*{
  margin: 0;
  padding: 0;
}

body{
background: #FFA17F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
