#particles-js{
  background: #fff;
  background-size: 100%;
  height:100vh;
}

*{
  margin: 0;
  padding: 0;
}

.hi {
  font-size: 25px;
  text-decoration: none;
  color: #494949;
  border: #494949 1px solid;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 40%;
  font-style: italic;
  word-spacing: -10;
  cursor: default;

}

.hi span {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hi:before,
.hi:after {
    content: '';
    position: absolute;
    top: 0.5;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .2s,opacity .4s;
    -moz-transition: .2s,opacity .4s;
    -o-transition: .2s,opacity .4s;
    transition: .2s,opacity .4s;
}

/* :before */

.hi:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.hi:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.hi:hover span,
.hi:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*
    We show :before pseudo-element on :hover
    and :after pseudo-element on :active
*/

.hi:hover:before,
.hi:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: 0.23s;
    -moz-transition-delay: 0.23s;
    -o-transition-delay: 0.23s;
    transition-delay: 0.23s;
}

/*
  We hide :before pseudo-element on :active
*/

.hi:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}


#particles-js > #button {
  font-size: 25px;
  text-decoration: none;
  color: #494949;
  border: #494949 1px solid;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 43%;
  left: 28%;
  font-style: italic;
  word-spacing: -10;
}

#particles-js > #button2 {
  font-size: 25px;
  text-decoration: none;
  color: #494949;
  border: #494949 1px solid;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 46%;
  font-style: italic;
  word-spacing: -10;
}

#particles-js > #button3 {
  font-size: 25px;
  text-decoration: none;
  color: #494949;
  border: #494949 1px solid;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 80%;
  font-style: italic;
  word-spacing: -10;
}

#particles-js .button:hover{
  background:#918d8d;
  color:#fff;
  border-style: hidden;
}
